.carouselContainer {
    display: flex;
    justify-content: center;
}

.carousel-title {
    font-size: 1rem;
}

.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: center;
}

.carousel-image {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.p-carousel-indicators {
    display: none !important;
}

@media screen and (max-width: 600px) {
    .carousel-image {
        box-shadow: none
    }
  }